process {
    errorStrategy = 'finish'
    withName: evaluateTree {
        errorStrategy = { task.exitStatus == 137 ? 'ignore' : 'finish' }
    }
    withName: addQueries {
        errorStrategy = { task.attempt > 10 ? 'finish' : 'retry' }
    }
    withName: assignTaxonomy {
        errorStrategy = { task.attempt > 10 ? 'finish' : 'retry' }      
    }
}
singularity {
    enabled = true
    autoMounts = true
}
